{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ bundles.PAGE_TITLE }}</title>
    <link href="{% static '/favicon.ico' %}"  type="image/x-icon" rel="icon" />
    <link href="{% static '/bootstrap.min.css' %}"  type="text/css" rel="stylesheet" />
    <link href="{% static '/styles.css' %}"  type="text/css" rel="stylesheet" />
</head>
<body>

<script type="application/javascript">
     function goToPage() {
        const targetLanguage = document.getElementById("languageDropdown").value;
        document.location = "?lang=" + targetLanguage;
     }
</script>

    <div class="header">
        <h1>{{ bundles.PAGE_TITLE }}</h1>
        <select class="btn btn-secondary dropdown-toggle"
                id="languageDropdown"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                onchange="javascript: goToPage()"
        >
            {% for item in languages %}
            <option class="dropdown-item" value="{{ item.code }}"
                    {% if item.code == curr_lang %}
                    selected="selected"
                    {% endif %}>{{ item.language }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="container">
    <div class="main-body">

          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">{{ bundles.PAGE_HOME }}</a></li>
                {% block breadcrumbs %}
                {% endblock %}
            </ol>
          </nav>
          <!-- /Breadcrumb -->

                {% block content %}
                {% endblock %}
      </div>
                {% block footer %}
                {% endblock %}
    </div>
</body>
</html>