{% extends 'base.html' %}
{% load static %}

{% block breadcrumbs %}
              <li class="breadcrumb-item active" aria-current="page">{{ bundles.PAGE_CV }} - {{cv.full_name}}</li>
{% endblock %}


{% block content %}
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                  {% if cv.avatar %}
                    <img src="{{ cv.avatar.url }}" alt="{{cv.full_name}}" class="rounded-circle" width="150">
                  {% else %}
                    <img src="{% static '/no-avatar.png' %}" class="rounded-circle" width="150">
                  {% endif %}
                    <div class="mt-3">
                      <h4>{{cv.full_name}}</h4>
                      <p class="text-secondary mb-1">{{cv.profession}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <div class="col-sm-12 mb-12">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">{{ bundles.CV_EXPERIENCE }}:</i>{{ bundles.CV_SKILLS }}</h6>
                      {% with skill_max=20 %}
                      {% for skill in cv.skills.all %}
                      <small>{{ skill.title }}: {{ skill.experience }} {{ bundles.CV_YEARS }}</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: {{ skill.experience }}%" aria-valuenow="{{ skill.experience }}" aria-valuemin="0" aria-valuemax="{{skill_max}}"></div>
                      </div>
                      {% endfor%}
                      {% endwith %}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">{{ bundles.CV_FIRST_NAME }}</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{cv.firstname}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">{{ bundles.CV_LAST_NAME }}</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{cv.lastname}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">{{ bundles.CV_EMAIL }}</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{cv.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">{{ bundles.CV_PHONE }}</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{cv.phone}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                        <a class="btn btn-info" target="_blank" href="{% url 'cv-pdf' cv.id cv.pdf_file_name %}">{{ bundles.BUTTON_DOWNLOAD_CV_PDF }}</a>
                        <div class="email">
                        {% if not email_sent_to %}
                            <form action="{% url 'cv' cv.id %}" method="POST">
                                {% csrf_token %}
                                <input type="text" name="email" placeholder="{{ bundles.INPUT_EMAIL_ENTER }}..." />
                                <button type="submit" class="btn btn-info" >{{ bundles.BUTTON_SEND_PDF }}</button>
                            </form>
                        {% else %}
                            <span class="mb-0">{{ bundles.INPUT_EMAIL_SENT }} {{ email_sent_to }}</span>
                        {% endif %}
                        </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row gutters-sm">
                <div class="col-sm-12 mb-12">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">{{ bundles.CV_EXPERIENCE }}:</i>{{ bundles.CV_PROJECTS }}</h6>

{% with cv.projects.all as projects %}
{% if projects %}
                    <h5 class="mb-3 mt-4 text-uppercase"><i class="mdi mdi-cards-variant mr-1"></i>
                        {{ bundles.CV_PROJECTS }}</h5>
                    <div class="table-responsive">
                        <table class="table table-borderless mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th>{{ bundles.CV_PROJECT_NAME }}</th>
                                    <th>{{ bundles.CV_PROJECT_START }}</th>
                                    <th>{{ bundles.CV_PROJECT_END }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for project in projects %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ project.title }}</td>
                                    <td>{{ project.startDate }}</td>
                                    <td>{{ project.endDate }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
{% endif %}
{% endwith %}
                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>
{% endblock %}
