{% extends 'base.html' %}

{% block title %}DTEAM - Django Developer Practical Test{% endblock %}

{% block breadcrumbs %}
              <li class="breadcrumb-item active" aria-current="page">List CVs</li>
{% endblock %}


{% block content %}
        <div class="list-group">
         {% for cv in all_cvs %}
            <a href="/cv/{{cv.id}}/" class="list-group-item list-group-item-action" aria-current="true">
                {{cv.name}}
            </a>
         {% endfor %}
        </div>
{% endblock %}


{% block footer %}
    <!-- Footer -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/logs/">Request Logs</a></li>
        </ol>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/settings/">Application Settings</a></li>
        </ol>
    </nav>
    <!-- /Footer -->
{% endblock %}
