{% extends 'base.html' %}
{% load cv_tags %}
{% load static %}

{% block breadcrumbs %}
              <li class="breadcrumb-item active" aria-current="page">{{ bundles.PAGE_CV_LIST }}</li>
{% endblock %}


{% block content %}

        {% cv_list as all_cvs %}

        <div class="list-group">
         {% for cv in all_cvs %}
            <a href="{% url 'cv' cv.id %}" class="list-group-item list-group-item-action" aria-current="true">
                <div>
                  {% if cv.thumb %}
                    <img src="{{ cv.thumb }}" alt="{{cv.name}}" class="rounded-circle" width="50">
                  {% else %}
                    <img src="{% static '/no-avatar.png' %}" class="rounded-circle" width="50">
                  {% endif %}
                    <span>{{cv.name}}</span>
                </div>
            </a>
         {% endfor %}
        </div>
{% endblock %}


{% block footer %}
    <!-- Footer -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'logs' %}">{{ bundles.PAGE_LOGS }}</a></li>
        </ol>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'settings' %}">{{ bundles.PAGE_SETTINGS }}</a></li>
        </ol>
    </nav>
    <!-- /Footer -->
{% endblock %}
